<div class="container margin-top">

  <div class="card-product">
    <img src="https://cache.marieclaire.fr/data/photo/w700_c17/4c/francois700.jpg"/>


      <div class="card-product-infos">
        <h2>Thierry Lafouille</h2>
        <p>Product description with
          <strong>relevant info</strong>
          only.</p>
        </div>
        <div class="vote roundrect">
          <div class="increment up"></div>
          <div class="increment down"></div>

          <div class="count">110</div>
        </div>

  </div>

  <div class="card-product">
    <img src="https://i.pinimg.com/originals/1b/c2/24/1bc2242869f878c4dc706dc7e888d11a.jpg"/>

    <div class="card-product-infos">
      <h2>François Leboeuf</h2>
      <p>Product description with
        <strong>relevant info</strong>
        only.</p>
    </div>
    <div class="vote roundrect">
      <div class="increment up"></div>
      <div class="increment down"></div>

      <div class="count">100</div>
    </div>
  </div>

  <div class="card-product">
    <img src="https://www.toutelatele.com/IMG/jpg/2-109.jpg"/>

    <div class="card-product-infos">
      <h2>Freddy Richard</h2>
      <p>Product description with
        <strong>relevant info</strong>
        only.</p>
    </div>
    <div class="vote roundrect">
      <div class="increment up"></div>
      <div class="increment down"></div>

      <div class="count">80</div>
    </div>
  </div>

  <div class="card-product">
    <img src="https://cdn-s-www.bienpublic.com/images/6B4E07E2-1D2D-469A-890B-E52F1025171F/NW_raw/jean-marc-agriculteur-a-cormatin-photo-m6-1482916728.jpg"/>

    <div class="card-product-infos">
      <h2>Jean-Claude Lognon</h2>
      <p>Product description with
        <strong>relevant info</strong>
        only.</p>
    </div>
    <div class="vote roundrect">
      <div class="increment up"></div>
      <div class="increment down"></div>

      <div class="count">60</div>
    </div>
  </div>

  <div class="card-product">
    <img src="https://images.ladepeche.fr/api/v1/images/view/5c4eb4a33e45467abf703455/large/image.jpg"/>

    <div class="card-product-infos">
      <h2>Bertrand Marie</h2>
      <p>Product description with
        <strong>relevant info</strong>
        only.</p>
    </div>
    <div class="vote roundrect">
      <div class="increment up"></div>
      <div class="increment down"></div>

      <div class="count">40</div>
    </div>
  </div>

  <div class="card-product">
    <img src="https://images.ladepeche.fr/api/v1/images/view/5c37cd2c3e454617991076dd/large/image.jpg"/>

    <div class="card-product-infos">
      <h2>Marc Lembrouil</h2>
      <p>Product description with
        <strong>relevant info</strong>
        only.</p>
    </div>
    <div class="vote roundrect">
      <div class="increment up"></div>
      <div class="increment down"></div>

      <div class="count">10</div>
    </div>
  </div>

  <div class="card-product">
    <img src="https://media.melty.fr/article-3848685-thumb-f8/media.jpg"/>

    <div class="card-product-infos">
      <h2>Josephin Baudinot</h2>
      <p>Product description with
        <strong>relevant info</strong>
        only.</p>
    </div>
    <div class="vote roundrect">
      <div class="increment up"></div>
      <div class="increment down"></div>

      <div class="count">5</div>
    </div>
  </div>

</div>
