<div class="navbar smart-scroll navbar-expand-sm navbar-light navbar-lewagon fixed-top">

  <div class="navbar-brand float-left">
    <i class="fas fa-store"></i>
    <span style="color: gray"><%= link_to "Les marchés de Lyon", markets_path, style: "text-decoration: none" %>
    </span>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Sign in</a>
      </li>
    </ul>
  </div>
</div>
