
  <div class="container" >

    <div class="grid">

      <div class="test">
        <h2>Fruits et légumes en <strong>aout</strong></h2>

      </div>
    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4600">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img"  src="https://images.unsplash.com/photo-1582284540020-8acbe03f4924?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1592548868664-f8b4e4b1cfb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1563289469-f4b5ccd72e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>

    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="7600">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1537744299383-e0752113efdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1564750497011-ead0ce4b9448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1517428956741-0e738679fc79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>

    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5400">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1549913468-0ddc24a4a1bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1590165482129-1b8b27698780?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1565685225009-fc85d9109c80?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>

    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="7000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1570978561297-793391262fea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1596273312170-6f83de8755f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1577069861033-55d04cec4ef5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>

    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="6200">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1567375698348-5d9d5ae99de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1504945005722-33670dcaf685?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1555447740-03e40562af94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>

    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="8000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1568641282532-e320b46927cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1567779833503-606dc39a14fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1568641282532-e320b46927cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>
    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5200">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1578283360724-288afbe9cffb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1591304332314-00dbc6de8357?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1506808547685-e2ba962ded60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>
    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="7300">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1590868309235-ea34bed7bd7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1566842600175-97dca489844f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1563289469-f26ed6a41d38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>
    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5800">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1596056094719-10ba4f7ea650?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1574316071802-0d684efa7bf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1570586437263-ab629fccc818?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>

    </div>

    <div class="grid-item">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="6600">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1593025572853-b454d82a74b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1504945005722-33670dcaf685?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block gallery__img" src="https://images.unsplash.com/photo-1506808547685-e2ba962ded60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    </div>

  </div>
