.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}

.grid-item {
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);
  border-radius: 8px;
}

.gallery__img {
  width: 100%;
  max-height: 210px;
  object-fit:  cover;
}

.container h2 {
  position: absolute;
  top: 200px;
  z-index: 99;
  background: black;
  color: white;
}
