.margin-top {
  margin-top: 150px;
}


.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-category div {
  background: white;

  position: absolute;
  top: 200px;
  width: 40%;
  border-radius: 4px;
  padding: 20px;
}


#merchan-day {
  position: relative;
  top: 0;
}
